<center>
  <table data-group="Navigations" data-module="Navigation 1" border="0" width="100%" align="center" cellpadding="0"
    cellspacing="0" style="width:100%;max-width:100%;">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color: #F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: white;">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                    style="width:520px;max-width:520px;">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%; max-width:100%;">
                            <tbody>
                              <tr>
                                <td data-resizable-height="" style="font-size:60px;height:60px;line-height:60px;"
                                  class="spacer-first ui-resizable">&nbsp;<div
                                    class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                </td>
                              </tr>
                              <tr>
                                <td height="45" align="center" valign="middle" class="autoheight"><a href="{{ url }}"
                                    style="text-decoration:none;border:0px;"><img data-image="Logo Img"
                                      src="https://viracun.id/assets/img/logo.png" width="130" border="0" alt="logo"
                                      style="width:130px;border:0px;display:inline-block!important;"></a>
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                  class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                    style="z-index: 90;"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Titles" data-module="Title 2" border="0" width="100%" align="center" cellpadding="0"
    cellspacing="0" style="width:100%;max-width:100%;">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color:#F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: white;">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                    style="width:520px;max-width:520px;">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%;max-width:100%;">
                            <tbody>
                              <tr>
                                <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                  class="spacer-first ui-resizable">&nbsp;<div
                                    class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Header Subtitle" data-font="Primary" align="center" valign="middle"
                                  style="font-family:'Poppins', sans-serif;color:#f6346f;font-size:16px;line-height:26px;font-weight:600;letter-spacing:0.5px;padding:0;padding-bottom:5px;"
                                  data-gramm="false">We got a request to</td>
                              </tr>
                              <tr>
                                <td data-text="Header Title" data-font="Primary" align="center" valign="middle"
                                  class="br-mobile-none"
                                  style="font-family:'Poppins', sans-serif;color:#f6346f;font-size:38px;line-height:48px;font-weight:400;letter-spacing:0px;"
                                  data-gramm="false">Reset Password</td>
                              </tr>
                              <tr>
                                <td data-resizable-height="" style="font-size:15px;height:15px;line-height:15px;"
                                  class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                    style="z-index: 90;"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Headers" data-module="Header 1" border="0" width="100%" align="center" cellpadding="0"
    cellspacing="0" style="width:100%;max-width:100%;" class="selected-table">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color:#F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: #4B7BEC;">
                  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                    style="width:100%; max-width:100%;">
                    <tbody>
                      <tr>
                        <td align="center">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%;max-width:100%;">
                            <tbody>
                              <tr>
                                <td align="center" valign="middle" class="img-responsive"><img data-image="Hero Img"
                                    src="https://img.freepik.com/free-vector/key-concept-illustration_114360-6305.jpg?w=826&t=st=1706425838~exp=1706426438~hmac=5a63413871275c4d81c74bfdb43f37a7d0a9eeabb0a9249367e6fc2193a507fb"
                                    border="0" width="600" alt="Header"
                                    style="display:inline-block!important;border:0;width:600px;max-width:600px;"
                                    data-lm-image="true"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Contents" data-module="Content 11" border="0" width="100%" align="center" cellpadding="0"
    cellspacing="0" style="width:100%;max-width:100%;">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color: #F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                    style="width:520px;max-width:520px;">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%; max-width:100%;">
                            <tbody>
                              <tr>
                                <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                  class="spacer-first ui-resizable">&nbsp;<div
                                    class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Title" data-font="Primary" align="left" valign="middle"
                                  style="font-family:'Poppins', sans-serif;color:#191919;font-size:18px;line-height:28px;font-weight:600;letter-spacing:0px;padding:0px;padding-bottom:20px;"
                                  data-gramm="false">Hi {{ name }},</td>
                              </tr>
                              <tr>
                                <td data-text="Description" data-font="Primary" align="left" valign="middle"
                                  style="font-family:'Poppins', sans-serif;color:#595959;font-size:16px;line-height:26px;font-weight:400;letter-spacing:0px;padding:0px;padding-bottom:40px;"
                                  data-gramm="false">We received a request to reset your
                                  password. Use the button below to setup a new password for your account:<br>
                              </tr>
                              <tr>
                                <td align="center" valign="middle">
                                  <table border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td data-btn="Button" align="center"
                                          style="background-color:#f6346f;display:block;mso-padding-alt:16px 60px 16px 60px;border-radius:4px;">
                                          <a data-font="Primary" href="{{ url }}"
                                            style="color:#FFFFFF;font-family:'Poppins', sans-serif;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:24px;display:block;padding:16px 60px 16px 60px;text-decoration:none;white-space:nowrap;">RESET
                                            PASSWORD</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                  class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                    style="z-index: 90;"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Regards" data-module="Regard 2" border="0" width="100%" align="center" cellpadding="0"
    cellspacing="0" style="width:100%;max-width:100%;" class="">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color: #F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                    style="width:520px;max-width:520px;">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%; max-width:100%;">
                            <tbody>
                              <tr>
                                <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                  class="spacer-first ui-resizable">&nbsp;<div
                                    class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="ThankYou Text" data-font="Primary" align="left" valign="middle"
                                  style="font-family:'Poppins', sans-serif;color:#191919;font-size:18px;line-height:28px;font-weight:600;letter-spacing:0px;"
                                  data-gramm="false">Thank You,</td>
                              </tr>
                              <tr>
                                <td data-text="Team Text" data-font="Primary" align="left" valign="middle"
                                  style="font-family:'Poppins', sans-serif;color:#595959;font-size:16px;line-height:26px;font-weight:400;letter-spacing:0px;"
                                  data-gramm="false">Viracun Team</td>
                              </tr>
                              <tr>
                                <td data-resizable-height="" style="font-size: 30px; height: 30px; line-height: 30px;"
                                  class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                    style="z-index: 90;"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  </td>
  </tr>
  </tbody>
  </table>
  <table data-group="Footers" data-module="Footer 1" width="100%" align="center" cellpadding="0" cellspacing="0"
    style="width:100%;max-width:100%;" class="">
    <tbody>
      <tr>
        <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
          style="background-color: #F1F1F1;">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
            style="width:600px;max-width:600px;">
            <tbody>
              <tr>
                <td data-bgcolor="Bgcolor" align="center" bgcolor="#F1F1F1" style="background-color: #F1F1F1;">
                  <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row"
                    style="width:520px;max-width:520px;">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                            style="width:100%; max-width:100%;">
                            <tbody>
                              <tr>
                                <td data-resizable-height="" style="font-size:40px;height:40px;line-height:40px;"
                                  class="spacer-first ui-resizable">&nbsp;<div
                                    class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                </td>
                              </tr>


                              <tr>
                                <td align="center" valign="middle"><a href="{{ url }}"
                                    style="text-decoration:none;border:0px;"><img data-image="Footer Logo"
                                      src="https://viracun.id/assets/img/logo.png" width="100" border="0" alt="logo"
                                      style="width: 100px; border: 0px; display: inline !important;"
                                      data-lm-image="true"></a></td>
                              </tr>
                              <tr>
                                <td data-resizable-height="" style="font-size:40px;height:40px;line-height:40px;"
                                  class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                    style="z-index: 90;"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>