# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="file:./dev.db"

BASE_URL=https://phpstack-1153903-4299007.cloudwaysapps.com/
# DATABASE_URL="mysql://root:root2@localhost:3306/temanasn"
DATABASE_URL="mysql://bwxgefvdqc:fF4y7QWzdj@143.198.199.65:3306/bwxgefvdqc"
PORT=8001
JWT_SECRET=password
URL_SERVER=https://phpstack-1153903-4299007.cloudwaysapps.com/api/api
URL_CLIENT=https://phpstack-1153903-4299007.cloudwaysapps.com/
